
<div class="col-sm-3">
<!-- Categories widget -->
<div class="widget Categories">
    <h3 class="widget-title widget-title ">Categories</h3>
    <ul>
        <li>
            <a href='#' class="title">Womens</a>

            <ul>
                <li>
                    <a href='DeLehengaCholi' class="title">Designer LehengaCholi</a>
                </li>
                <li>
                    <a href='BridalLehengaCholi' class="title">Bridal LehengaCholi</a>
                </li>
                <li>
                    <a href='DesignerKurti' class="title">Kurti</a>
                </li>
                <li>
                <a href='PalazzoKurti' class="title">Palazzo Kurti</a>
                </li>
                <li>
                    <a href='ChexChaniyaCholi' class="title">Chex Print Chaniyacholi</a>
                </li>
                <li>
                    <a href='DesignerBlouse' class="title">Designer Blouse</a>
                </li>
                <li>
                    <a href='KidsWear' class="title">Kids Wear</a>
                </li>
                <li>
                    <a href='Saree' class="title">Saree</a>
                </li>
                <li>
                    <a href='Gown' class="title">Gown</a>
                </li>
                <li>
                    <a href='ComboWear' class="title">Combo Wear</a>
                </li>

            </ul>
        </li>
    </ul>
</div>
<!-- End class="widget Categories" -->



</div>
</div>

</div>
</section>


</section>
<!-- End class="home" -->

</section> 
<!-- End class="main" -->

<!-- Footer -->
<div class="footer">
<div class="container">
<div class="row">

<div class="col-sm-2">
        <!-- Support -->
        <div class="support">
                <h6>Support</h6>

                <ul class="links">
                        <li>
                                <a href="AboutUs" title="About us" class="title">About us</a>
                        </li>
                      
                        <li>
                                <a href="Home" title="About us" class="title">Contact Us</a>
                        </li>
                </ul>
        </div>
        <!-- End class="support" -->

<hr />

<!-- My account -->
<div class="account">
<h6>My account</h6>

<ul class="links">
    <li>
        <a href="LoginReg" title="Login / Register">Login / Register</a>
    </li>
</ul>
</div>
<!-- End class="account"-->

</div>

<div class="col-sm-2">

        <!-- Categories -->
        <div class="categories">
                <h6>Shop</h6>

                <ul class="links">
                        <li>
                                <a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                        </li>
                        <li>
                                <a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                        </li>
                        <li>
                                <a href="DesignerKurti" title="Men">Kurti</a>
                        </li>
                        <li>
                                <a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
                        </li>
                        <li>
                                <a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
                        </li>
                        <li>
                                <a href="DesignerBlouse" title="Boys">Designer Blouse</a>
                        </li>
                        <li>
                                <a href="KidsWear" title="Boys">Kids Wear</a>
                        </li>
                        <li>
                                <a href="Saree" title="Boys">Saree</a>
                        </li>
                        <li>
                                <a href="Gown" title="Boys">Gown</a>
                        </li>
                </ul>
        </div>
        <!-- End class="categories" -->


<hr />
</div>
<div class="col-sm-4">

<!-- Newsletter subscription -->
<div class="newsletter">
<h6>Newsletter subscription</h6>

<form action="/NewsletterSubscription" method="post">

    <div class="input-group">
        <input type="text" name="Email_ID" class="form-control" />
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>

</form>

<p>Sign up to receive our latest news and updates direct to your inbox</p>
</div>
<!-- End class="newsletter" -->


<hr />



</div>
</div>
</div>
</div>
<!-- End id="footer" -->

<!-- Credits bar -->
<div class="credits">
<div class="container">
<div class="row">
<div class="col-sm-8">
<p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
</div>
<div class="col-sm-4 text-right hidden-xs">
<p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
</div>
</div>
</div>
</div>
<!-- End class="credits" -->
<!-- Options panel -->
<!--
<div class="options-panel">
<div class="options-panel-content">

<div class="row">
<div class="col-md-12">
<div class="form-group">
<label for="option_color_scheme" class="control-label">Color scheme</label>
<div class="controls">
    <select name="option_color_scheme" id="option_color_scheme" class="col-md-12">
        <option value="/stylesheets/css/color-schemes/turquoise.css">Turquoise</option>
        <option value="/stylesheets/css/color-schemes/greensea.css">Green sea</option>
        <option value="/stylesheets/css/color-schemes/emerland.css">Emerland</option>
        <option value="/stylesheets/css/color-schemes/nephritis.css">Nephritis</option>
        <option value="/stylesheets/css/color-schemes/peterriver.css">Peter river</option>
        <option value="/stylesheets/css/color-schemes/belizehole.css">Belizehole</option>
        <option value="/stylesheets/css/color-schemes/amethyst.css">Amethyst</option>
        <option value="/stylesheets/css/color-schemes/wisteria.css">Wisteria</option>
        <option value="/stylesheets/css/color-schemes/wetasphalt.css">Wet asphalt</option>
        <option value="/stylesheets/css/color-schemes/midnightblue.css">Midnight blue</option>
        <option value="/stylesheets/css/color-schemes/sunflower.css">Sunflower</option>
        <option value="/stylesheets/css/color-schemes/orange.css">Orange</option>
        <option value="/stylesheets/css/color-schemes/carrot.css">Carrot</option>
        <option value="/stylesheets/css/color-schemes/pumpkin.css">Pumpkin</option>
        <option value="/stylesheets/css/color-schemes/alizarin.css">Alizarin</option>
        <option value="/stylesheets/css/color-schemes/pomegranate.css">Pomegranate</option>
    </select>
</div>
</div>
</div>
</div>

</div>

<div class="options-panel-toggle">
<a href="#" title=""><i class="fa fa-cog"></i></a>
</div>
</div> !-->
<!-- End class="options-panel" -->


</div>

<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>



<!-- END JAVASCRIPTS -->



<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
