<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">

<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
<head>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="La Boutique HTML v10.0" />

<title>Home</title>

<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/stylesheets/css/flexslider.css" />
<link rel="stylesheet" href="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.css" />

<link rel="stylesheet" href="/stylesheets/css/color-schemes/turquoise.css" id="color_scheme" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- <meta http-equiv="X-UA-Compatible" content="IE=7; IE=8" />-->
<link rel="icon" href="favicon.ico" type="image/x-icon" />
	</head>
	<body>

	<style>
			 .topbar{
					 width:100%;
					 background-color:gray;
			 }

			 .backcolor{
						 background-color: #d5f4e6;
			 }
			 .cover-img{
					 width: 100%;
					height: 600px;
					background-position: center;
  				background-repeat: no-repeat;
					 background-size: cover;
			 }

			 article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }

	 </style>

		<div class="wrapper">

			<!-- Header -->
<div class="header">
    <!-- Top bar -->
    <div class="top">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-12 hidden-xs">
                    <ul class="list-inline pull-right">
						<li>
							<% if(isLogin == true){ %>
								 Welcome, <%=user.local.First_Name%> 
								<a href="/logout" title="Login / Register">Logout</a>
							<% }else{ %>
								<a href="LoginReg" title="Login / Register">Login / Register</a>

							<%}%>
						</li>
					
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End class="top" -->

    <!-- Logo & Search bar -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6">

                	<!-- Logo -->
                    <div class="logo">
                        <a href="Home" title="&larr; Back home">
                            <img src="/images/img/1106d0b4-0b05-4c15-9cb3-55dbbde9af43.jpg" alt="La Boutique" />
                        </a>
                    </div>
                    <!-- End class="logo"-->

                </div>
                <div class="col-sm-5 col-sm-offset-1 col-md-3">

                	<!-- Search -->
                    <div class="search">
                        <div class="qs_s">

                            <form method="post" action="http://alpha.laboutiquetheme.com/search.html">
                                <input type="text" name="query" id="query" placeholder="Search&hellip;" autocomplete="off" value="">
                            </form>

                            <!-- Autocomplete results -->
                            <div id="autocomplete-results" style="display: none;">
                                <ul>
                                    <li>
                                        <a title="Lisette Dress" href="product.html">
                                            <div class="image">
                                                <img src="/image/img/IMG-20181214-WA0062.jpg" alt="" />
                                            </div>
                                            <h6>Lisette Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Malta Dress" href="product.html">
                                            <div class="image">
                                                <img src="/image/img/IMG-20181214-WA0081.jpg" alt="" />
                                            </div>
                                            <h6>Malta Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Marais Dress" href="product.html">
                                            <div class="image">
                                                <img src="/image/img/IMG-20181214-WA0028.jpg" alt="" />
                                            </div>
                                            <h6>Marais Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Millay Dress" href="product.html">
                                            <div class="image">
                                                <img src="/image/img/kidswearfinal.jpg" alt="" />
                                            </div>
                                            <h6>Millay Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Momoko Dress" href="product.html">
                                            <div class="image">
                                                <img src="/image/img/img-20181004-wa0012.jpg" alt="" />
                                            </div>
                                            <h6>Momoko Dress</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End id="autocomplete-results" -->

                        </div>
                    </div>
                    <!-- End class="search"-->

                </div>

                <!-- Mini cart -->
                <div class="mini-cart">
                    <a href="Cart" title="Go to cart &rarr;">
                    <img src="/images/img/cart.png" alt="La Boutique" />
                        
                    </a>
                </div>
                <!-- End class="mini-cart" -->

            </div>
        </div>
    </div>
    <!-- End class="bottom" -->

</div>
<!-- End class="header" -->
			<!-- Navigation -->
<nav class="navigation">
    <div class="container">

        <div class="row">
            <div class="col-md-9">

							<a href="#" class="main-menu-button">Navigation</a>
							<!-- Begin Menu Container -->
							<div class="megamenu_container">
							    <div class="menu-main-navigation-container">
							        <ul id="menu-main-navigation" class="main-menu">

							            <li class="menu-item-home menu-item-has-children megamenu-parent " data-width="">
							            	<a href="Home">Home</a>
							                <ul class="sub-menu">
							                    <li class="megamenu-heading"><a href="#MegaMenuHeading"><h3>New Arrivals</h3></a></li>
							                    <li class="menu-item-has-children megamenu-column">
							                        <a href="#MegaMenuColumn">New Arrivals</a>
							                     <!--   <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">Designer piece</a></li>
							                            <li class="megamenu-content">
							                                <p><img title="" alt="" src="/images/img/IMG-20181214-WA0062.jpg"></p>
							                                <p>Designer Lehenga with stylist crop top.</p></li>
							                        </ul> !-->
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading"> videos</a></li>
							                            <li class="megamenu-content"><p> <iframe src='http://player.vimeo.com/video/68161548' width='225' height='144' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							                                </p>
							                                <p>Praesent a dolor sem. Sed scelerisque, tellus id pulvinar tristique, erat eros rutrum mi, id adipiscing arcu sem vel est. Ut ac turpis ipsum. Mauris leo nulla, vestibulum id bibendum.</p></li>
							                        </ul>
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">New Arrivals</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">And Google maps!</a></li>
							                            <li class="megamenu-content">
							                                <p>
							                                    <iframe width="100%" height="144" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=52.204004,0.122824&amp;spn=0.005865,0.014677&amp;z=11&amp;output=embed"></iframe>
							                                </p>
							                                <p>
							                                    <strong>Aarav Designer Boutique</strong><br>
							                                    <em class="fa fa-map-marker fa-lg"></em> New Ranip,Ahmedabad<br>
							                                    <em class="fa fa-phone fa-lg"></em> 7600260417
							                                </p>
							                            </li>
							                        </ul>
							                    </li>
							                </ul>
							            </li>


													            <li class="menu-item-has-children">
													            	<a href="Home">Shop</a>
													                <ul class="sub-menu">
													                    <li class="menu-item-has-children">
													                    	<a href="#">Lehenga Choli</a>
													                        <ul class="sub-menu">
													                            <li><a href="DeLehengaCholi">Designer Lehenga Choli</a></li>
													                            <li><a href="BridalLehengaCholi">Bridal Lehenga Choli</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="category.html">Kurti</a>
													                        <ul class="sub-menu">
													                            <li><a href="DesignerKurti">Designer Kurti</a></li>
													                            <li ><a href="PalazzoKurti">Palazzo Kurti</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="ChexChaniyaCholi">Chex Print Chaniya choli</a>
													                    </li>
													                    <li><a href="DesignerBlouse" title="Sale">Designer Blouse</a></li>
																		<li><a href="KidsWear" title="Sale">Kids wear</a></li>
																		<li><a href="Saree" title="Sale">Saree</a></li>
																		<li><a href="Gown" title="Sale">Gown</a></li>
																		<li><a href="ComboWear" title="Sale">Combo Wear</a></li>
													                </ul>
													            </li>

													          <li class="menu-item-has-children megamenu-parent" data-width="550">
													            	<a href="CustomOrder">Customize order</a>
																			<!--	<ul class="sub-menu">
																						<li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
																						<center><li class="megamenu-heading"><a href="#MegaMenuHeading">Customize Order</a></li></center>
																						<li class="megamenu-content">
																								<div class="wpcf7">
																										<form action="/CustomeOrder" method="post" class="wpcf7-form" novalidate="novalidate">
																												<label>Your Name (required)</label><br>
																												<input type="text" name="Your_Name" value="" size="40" aria-required="true" /><br>
																												<label>Your Phone no. (required)</label><br>
																												<input type="text" name="Phone_Number" value="" size="40" aria-required="true" /><br>
																												<label>Your Email (required)</label><br>
																												<input type="email" name="Email_ID" value="" size="40"aria-required="true" /><br>
																												<label>City</label><br>
																												<input type="text" name="City" value="" size="40" /><br>
																												<label>State</label><br>
																												<input type="text" name="State" value="" size="20" /><br>
																												<input type='file' onchange="readURL(this);" name="Image" />
																												<img id="blah" src="#" alt="your image" />
																											

																												<label>Your Message(Customize Order Requirments)</label><br>
																												<textarea name="Your_Message" cols="40" rows="10" ></textarea>

																												<input type="submit" value="Send" class="btn btn-primary" />
																										</form>
																								</div>
																						</li>
																				</ul> !-->
																</li> 


													            <li ><a href="Cart">Cart</a></li>

													            <li class="menu-item-has-children megamenu-parent" data-width="400">
													                <a href="">Contact Us</a>
													                <ul class="sub-menu">
													                    <li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
													                    <center><li class="megamenu-heading"><a href="#MegaMenuHeading">Contact Us</a></li></center>
													                    <li class="megamenu-content">
													                        <div class="wpcf7">
													                            <form action="/ContactUs" method="post" class="wpcf7-form" novalidate="novalidate">
													                                <label>Your Name (required)</label><br>
													                                <input type="text"  value="" size="40" aria-required="true" name="Your_Name" /><br>
													                                <label>Your Email (required)</label><br>
													                                <input type="email" value="" size="40"aria-required="true" name="Email_ID" /><br>
													                                <label>Subject</label><br>
													                                <input type="text"  value="" size="40" name="Subject" /><br>
													                                <label>Your Message</label><br>
													                                <textarea cols="40" rows="10"  name="Your_Message"></textarea>

													                                <input type="submit" value="Send" class="btn btn-primary" />
													                            </form>
													                        </div>
													                    </li>
													                </ul>
													            </li>

													        </ul>
													    </div>
													</div>


            </div>

            <div class="col-md-3 visible-lg">


            </div>
        </div>

    </div>
</nav>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</body>
</html>