

<% include partials/header %>


<!-- End class="navigation" -->

<center><h3>About Us</h3></center>
	<br>
	<p>Welcome to Aarav Designer Boutique, your number one source for all things Lehenga Choli, Saree, Kids Wear, Gown. We're dedicated to giving you the very best of product, with a focus on customer service and uniqueness.
Founded in 2014 by Nidhi Gajjar, Aarav Designer Boutique has come a long way from its beginnings in a New Ranip, Ahmedabad. When Nidhi Gajjar first started out, her passion for Designing of garments drove her to do intense research, and gave her the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over New Ranip, Ahmedabad, and are thrilled to be a part of the fair trade wing of the fashion industry.</p>

<p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
<br>
<bold><p>Sincerely,<br></bold>
Name : Nidhi Gajjar<br>
Contact No. : +917600260417, +918200022768<br>
EmailID : aaravdesignerboutique171@gmail.com<br>
Address : B-25 Aksharpark Society, near Vande Matram flat New Ranip, Ahmedabad - 382480.<br>
</p>

            </div>
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
							<!-- Support -->
							<div class="support">
									<h6>Support</h6>

									<ul class="links">
											<li>
													<a href="AboutUs" title="About us" class="title">About us</a>
											</li>
										
											<li>
													<a href="Home" title="About us" class="title">Contact Us</a>
											</li>
									</ul>
							</div>
							<!-- End class="support" -->

                <hr />

                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>

                    <ul class="links">
                        <li>
                            <a href="LoginReg" title="Login / Register">Login / Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="account"-->

            </div>

            <div class="col-sm-2">

							<!-- Categories -->
							<div class="categories">
									<h6>Shop</h6>

									<ul class="links">
											<li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                                            </li>
                                            <li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
											</li>
											<li>
													<a href="DesignerKurti" title="Men">Kurti</a>
                                            </li>
                                            <li>
													<a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
											</li>
											<li>
													<a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
											</li>
											<li>
													<a href="DesignerBlouse" title="Boys">Designer Blouse</a>
											</li>
											<li>
													<a href="KidsWear" title="Boys">Kids Wear</a>
											</li>
											<li>
													<a href="Saree" title="Boys">Saree</a>
											</li>
											<li>
													<a href="Gown" title="Boys">Gown</a>
											</li>
									</ul>
							</div>
							<!-- End class="categories" -->


                <hr />
            </div>
            <div class="col-sm-4">

                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>

                  
<form action="/NewsletterSubscription" method="post">

<div class="input-group">
	<input type="text" name="Email_ID" class="form-control" />
	<input type="submit" value="Send" class="btn btn-primary" />
</div>

</form>


                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->


                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>

                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>

                    </ul>
                </div>
                <!-- End class="social" -->

            </div>
        </div>
    </div>
</div>
<!-- End id="footer" -->

<!-- Credits bar -->
<div class="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
            </div>
            <div class="col-sm-4 text-right hidden-xs">
                <p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End class="credits" -->

			<!-- Credits bar -->
			<!-- Options panel -->
       
<!-- End class="options-panel" -->
			

		</div>
   
		<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>

<!-- END JAVASCRIPTS -->

	</body>

<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
</html>
