<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">

<!-- Mirrored from alpha.laboutiquetheme.com/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:47 GMT -->
<head>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="La Boutique HTML v10.0" />

<title>Category</title>

<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/stylesheets/css/flexslider.css" />
<link rel="stylesheet" href="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.css" />

<link rel="stylesheet" href="/stylesheets/css/color-schemes/turquoise.css" id="color_scheme" />

<!-- <meta http-equiv="X-UA-Compatible" content="IE=7; IE=8" />-->
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<link href="http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light" rel="stylesheet">
	</head>
	<body>

		<div class="wrapper">

			<!-- Header -->
<div class="header">
		<!-- Top bar -->
		<div class="top">
				<div class="container">
						<div class="row">
								<div class="col-sm-6">
										<p>
												<strong>Welcome Guest!!!</strong>
										</p>
								</div>
								<div class="col-sm-6 hidden-xs">
										<ul class="list-inline pull-right">
												<li>
														<a href="LoginReg" title="Login / Register">Login / Register</a>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
		<!-- End class="top" -->
    <!-- Logo & Search bar -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6">

                	<!-- Logo -->
                    <div class="logo">
                        <a href="Home" title="&larr; Back home">
                            <img src="/images/img/1106d0b4-0b05-4c15-9cb3-55dbbde9af43.jpg" alt="La Boutique" />
                        </a>
                    </div>
                    <!-- End class="logo"-->

                </div>
                <div class="col-sm-5 col-sm-offset-1 col-md-3">

                	<!-- Search -->
                    <div class="search">
                        <div class="qs_s">

                            <form method="post" action="http://alpha.laboutiquetheme.com/search.html">
                                <input type="text" name="query" id="query" placeholder="Search&hellip;" autocomplete="off" value="">
                            </form>

                            <!-- Autocomplete results -->
                            <div id="autocomplete-results" style="display: none;">
                                <ul>
                                    <li>
                                        <a title="Lisette Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_48_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Lisette Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Malta Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_137_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Malta Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Marais Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_42_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Marais Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Millay Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_107_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Millay Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Momoko Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_132_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Momoko Dress</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End id="autocomplete-results" -->

                        </div>
                    </div>
                    <!-- End class="search"-->

                </div>

                <!-- Mini cart -->
                <div class="mini-cart">
                    <a href="cart.html" title="Go to cart &rarr;">
                    <img src="/images/img/cart.png" alt="La Boutique" />
                        <span>3</span>
                    </a>
                </div>
                <!-- End class="mini-cart" -->

            </div>
        </div>
    </div>
    <!-- End class="bottom" -->

</div>
<!-- End class="header" -->
<!-- Navigation -->
<nav class="navigation">
    <div class="container">

        <div class="row">
            <div class="col-md-9">

							<a href="#" class="main-menu-button">Navigation</a>
							<!-- Begin Menu Container -->
							<div class="megamenu_container">
							    <div class="menu-main-navigation-container">
							        <ul id="menu-main-navigation" class="main-menu">

							            <li class="menu-item-home menu-item-has-children megamenu-parent " data-width="">
							            	<a href="Home">Home</a>
							                <ul class="sub-menu">
							                    <li class="megamenu-heading"><a href="#MegaMenuHeading"><h3>New Arrivals</h3></a></li>
							                    <li class="menu-item-has-children megamenu-column">
							                        <a href="#MegaMenuColumn">New Arrivals</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">Designer piece</a></li>
							                            <li class="megamenu-content">
							                                <p><img title="" alt="" src="/images/img/IMG-20181214-WA0062.jpg"></p>
							                                <p>Designer Lehenga with stylist crop top.</p></li>
							                        </ul>
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading"> videos</a></li>
							                            <li class="megamenu-content"><p> <iframe src='http://player.vimeo.com/video/68161548' width='225' height='144' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							                                </p>
							                                <p>Praesent a dolor sem. Sed scelerisque, tellus id pulvinar tristique, erat eros rutrum mi, id adipiscing arcu sem vel est. Ut ac turpis ipsum. Mauris leo nulla, vestibulum id bibendum.</p></li>
							                        </ul>
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">New Arrivals</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">And Google maps!</a></li>
							                            <li class="megamenu-content">
							                                <p>
							                                    <iframe width="100%" height="144" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=52.204004,0.122824&amp;spn=0.005865,0.014677&amp;z=11&amp;output=embed"></iframe>
							                                </p>
							                                <p>
							                                    <strong>Aarav Designer Boutique</strong><br>
							                                    <em class="fa fa-map-marker fa-lg"></em> New Ranip,Ahmedabad<br>
							                                    <em class="fa fa-phone fa-lg"></em> 7600260417
							                                </p>
							                            </li>
							                        </ul>
							                    </li>
							                </ul>
							            </li>


													            <li class="menu-item-has-children">
													            	<a href="category.html">Shop</a>
													                <ul class="sub-menu">
													                    <li class="menu-item-has-children">
													                    	<a href="#">Lehenga Choli</a>
													                        <ul class="sub-menu">
													                            <li><a href="DeLehengaCholi">Designer Lehenga Choli</a></li>
													                            <li><a href="BridalLehengaCholi">Bridal Lehenga Choli</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="category.html">Kurti</a>
													                        <ul class="sub-menu">
													                            <li><a href="DesignerKurti">Designer Kurti</a></li>
													                            <li ><a href="PalazzoKurti">Palazzo Kurti</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="ChexChaniyaCholi">Chex Print Chaniya choli</a>
													                    </li>
													                    <li><a href="DesignerBlouse" title="Sale">Designer Blouse</a></li>
																		<li><a href="KidsWear" title="Sale">Kids wear</a></li>
																		<li><a href="Saree" title="Sale">Saree</a></li>
																		<li><a href="Gown" title="Sale">Gown</a></li>
																		<li><a href="ComboWear" title="Sale">Combo Wear</a></li>
													                </ul>
													            </li>

													            <li class="menu-item-has-children megamenu-parent" data-width="550">
													            	<a href="#">Customize order</a>
																				<ul class="sub-menu">
																						<li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
																						<center><li class="megamenu-heading"><a href="#MegaMenuHeading">Customize Order</a></li></center>
																						<li class="megamenu-content">
																								<div class="wpcf7">
																										<form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
																												<label>Your Name (required)</label><br>
																												<input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
																												<label>Your Phone no. (required)</label><br>
																												<input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
																												<label>Your Email (required)</label><br>
																												<input type="email" name="your-email" value="" size="40"aria-required="true" /><br>
																												<label>City</label><br>
																												<input type="text" name="your-subject" value="" size="40" /><br>
																												<label>State</label><br>
																												<input type="text" name="your-subject" value="" size="40" /><br>
																												<label>Your Message(Customize Order Requirments)</label><br>
																												<textarea name="your-message" cols="40" rows="10" ></textarea>

																												<input type="submit" value="Send" class="btn btn-primary" />
																										</form>
																								</div>
																						</li>
																				</ul>
																</li>


													            <li ><a href="cart.html">Cart</a></li>

													            <li class="menu-item-has-children megamenu-parent" data-width="400">
													                <a href="">Contact Us</a>
													                <ul class="sub-menu">
													                    <li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
													                    <center><li class="megamenu-heading"><a href="#MegaMenuHeading">Contact Us</a></li></center>
													                    <li class="megamenu-content">
													                        <div class="wpcf7">
													                            <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
													                                <label>Your Name (required)</label><br>
													                                <input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
													                                <label>Your Email (required)</label><br>
													                                <input type="email" name="your-email" value="" size="40"aria-required="true" /><br>
													                                <label>Subject</label><br>
													                                <input type="text" name="your-subject" value="" size="40" /><br>
													                                <label>Your Message</label><br>
													                                <textarea name="your-message" cols="40" rows="10" ></textarea>

													                                <input type="submit" value="Send" class="btn btn-primary" />
													                            </form>
													                        </div>
													                    </li>
													                </ul>
													            </li>

													        </ul>
													    </div>
													</div>


            </div>

            <div class="col-md-3 visible-lg">


            </div>
        </div>

    </div>
</nav>
<!-- End class="navigation" -->


			<!-- Content section -->
			<section class="main">



<!-- Category content -->
<section class="category">

    <div class="container">
        <div class="row">

            <div class="col-sm-3">

                <!-- Sidebar -->
                <aside class="sidebar">

                    <div class="children">
                        <div class="box border-top">

                            <div class="hgroup title">
                                <h3>
                                    <a href="#" title="Womens">Womens</a>
                                </h3>
                            </div>

                            <div class="category-list list-group">
                                <a href="DeLehengaCholi" class="list-group-item active" title="Lahenga Choli">
                                    <span class="badge">36</span>
                                    Lehenga Choli
                                </a>
                                <a href="BridalLehengaCholi" class="list-group-item " title="Lahenga Choli">
                                <span class="badge">36</span>
                                 Bridal Lehenga Choli
                                </a>
                                <a href="DesignerKurti" class="list-group-item " title="Kurti">
                                    <span class="badge">11</span>
                                    Designer Kurti
                                </a>
                                <a href="PalazzoKurti" class="list-group-item " title="Kurti">
                                    <span class="badge">11</span>
                                    Palazzo Kurti
                                </a>
                                <a href="ChexChaniyaCholi" class="list-group-item" title="Chex Print Chaniyacholi">
                                    <span class="badge">2</span>
                                    Chex Print Chaniyacholi
                                </a>
                                <a href="DesignerBlouse" class="list-group-item" title="Designer Blouse">
                                    <span class="badge">7</span>
                                    Designer Blouse
                                </a>
                                <a href="KidsWear" class="list-group-item" title="Kids Wear">
                                    <span class="badge">8</span>
                                    Kids Wear
                                </a>
                                <a href="Saree" class="list-group-item" title="Saree">
                                    <span class="badge">0</span>
                                    Saree
                                </a>
									<a href="Gown" class="list-group-item" title="Gown">
                                    <span class="badge">0</span>
                                  	Gown
                                </a>
									<a href="ComboWear" class="list-group-item" title="Combo Wear">
										<span class="badge">0</span>
										Combo Wear
								</a>
                            </div>
                        </div>
                    </div>

                    <!-- Price filter -->
                    <div class="price-filter">
                        <div class="box border-top">
                            <div class="hgroup title">
                                <h3>Refine products</h3>
                                <h5>Filter your products by price</h5>
                            </div>

                            <div id="slider" data-max="200" data-step="5" data-currency="&pound;"> </div>
                            <span id="slider-label">Price range: <strong>£0 &ndash; £200</strong></span>
                        </div>
                    </div>
                    <!-- End class="price-filter" -->


                    <!-- Latest reviews -->
                    <div class="widget LatestProductReviews">
                        <h3 class="widget-title widget-title ">Latest product reviews</h3>
                        <ul class="ratings-small">
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0089.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Designer LehengaCholi</h6>
                                    <div class="rating rating-3">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0070.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Chex Print Chaniyacholi</h6>
                                    <div class="rating rating-1">
                                         <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0051.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Designer Blouse with Saree</h6>
                                    <div class="rating rating-4">
                                         <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end class="widget LatestProductReviews" -->

                    <!-- Latest Products -->
                    <div class="widget LatestProducts">
                        <h3 class="widget-title widget-title ">What's new</h3>
                        <ul class="product-list-small">
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Lolita">
                                        <img src="/images/img/LehenghaCholi/Designer/LehengaCholiSilk.jpg" alt="Lolita" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Latest Shaded LehengaCholi">Shaded LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £88.00
                                    </div>

                                    <div class="rating rating-4">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
																				<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi with Work">
                                        <img src="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" alt="LehengaCholi with Work" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Mars">LehengaCholi with Work</a>
                                    </h6>

                                    <div class="price">
                                        £398.00
                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Bordered LehengaCholi">
                                        <img src="/images/img/LehenghaCholi/Designer/Bordered_LehengaCholi.jpg" alt="Bordered LehengaCholi" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Bordered LehengaCholi">Bordered LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £38.00
                                    </div>

                                    <div class="rating rating-4">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End class="widget LatestProducts" -->

                    <!-- Products on Sale -->
                    <div class="widget Productsonsale">
                        <h3 class="widget-title widget-title ">Special offers</h3>
                        <ul class="product-list-small">
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi With Traditional Blouse">
                                        <img src="/images/img/LehenghaCholi/Designer/Nav3_Lehenga.jpg" alt="Dip Dye Panel Henley" />
                                    </a>
                                </div>
                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="LehengaCholi With Traditional Blouse">LehengaCholi With<br> Traditional Blouse</a>
                                    </h6>

                                    <div class="price">
                                        £48.00
                                        <del style="font-size: 10px;">£60.00</del>
                                        <span class="label label-sale">Sale</span>
                                    </div>

                                    <div class="rating rating-4.5">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Simple LehengaCholi">
                                        <img src="/images/img/LehenghaCholi/Designer/Nav2_lehengaCholi.jpg" alt="Simple LehengaCholi" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Simple LehengaCholi">Simple LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £48.00
                                        <del style="font-size: 10px;">£58.00</del>
                                        <span class="label label-sale">Sale</span>
                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi with Blouse Work">
                                        <img src="/images/img/LehenghaCholi/Designer/Crop12_Lehenga.jpg" alt="LehengaCholi with Blouse Work" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="LehengaCholi with Blouse Work">LehengaCholi with<br> Blouse Work</a>
                                    </h6>

                                    <div class="price">
                                        £131.99
                                        <del style="font-size: 10px;">£175.00</del>
                                        <span class="label label-sale">Sale</span>

                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End  class="widget Productsonsale" -->

                </aside>

                <!-- End sidebar -->

            </div>


            <div class="col-sm-9">

                <!-- Products list -->
<ul class="product-list isotope">

<% DeLehengaCholi.forEach(function(demo){%>
    <li class="standard" data-price="58">
        <a href="#" title="LehengaCholi with Designer Blouse">
            <div class="image">
                <img class="primary" src="http://localhost:3000/images/upload/<%= demo.Image %>" alt="LehengaCholi with Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price"><%= demo.Price %></span>
                </div>
                <h3><%= demo.Category_Name%></h3>
            </div>

        </a>
    </li>

    <%}) %>
   
   
</ul>
<!-- End class="product-list isotope" -->

             

            </div>


        </div>
    </div>

</section>
<!-- End class="category" -->

			</section>
			<!-- End class="main" -->

			<!-- Twitter bar -->
<div class="twitter-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div data-username="lemonstand" id="tweets">
                	<ul class="tweet_list">
	                	<li class="tweet_first tweet_odd">
		                	<div class="tweet">
			                	<div class="avatar">
				                	<a href="http://twitter.com/LemonStand" class="tweet_avatar">
					                	<img width="60" border="0" height="60" title="LemonStand's avatar" alt="LemonStand's avatar" src="../pbs.twimg.com/profile_images/469596772147290113/m9O0h_3e_bigger.png">
				                	</a>
			                	</div>
			                	<div class="text">
				                	<span class="tweet_text">
				                	<span class="at">@</span>
				                		<a href="http://twitter.com/Alesya">Alesya</a> we don't have an app to manage your store's admin, sorry.
				                	</span>
				                	<span class="tweet_time">
				                		<a title="view tweet on twitter" href="http://twitter.com/LemonStand/status/375472363791720448">
				                		about 664 days ago</a>
				                	</span>
			                	</div>
		                	</div>
	                	</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End class="twitter-bar" -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
							<!-- Support -->
							<div class="support">
									<h6>Support</h6>

									<ul class="links">
											<li>
													<a href="AboutUs" title="About us" class="title">About us</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">FAQ</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">Contact Us</a>
											</li>
									</ul>
							</div>
							<!-- End class="support" -->

                <hr />

                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>

                    <ul class="links">
                        <li>
                            <a href="login-register.html" title="Login / Register">Login / Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="account"-->

            </div>

            <div class="col-sm-2">

							<!-- Categories -->
							<div class="categories">
									<h6>Shop</h6>

									<ul class="links">
											<li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                                            </li>
                                            <li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
											</li>
											<li>
													<a href="DesignerKurti" title="Men">Kurti</a>
                                            </li>
                                            <li>
													<a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
											</li>
											<li>
													<a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
											</li>
											<li>
													<a href="DesignerBlouse" title="Boys">Designer Blouse</a>
											</li>
											<li>
													<a href="KidsWear" title="Boys">Kids Wear</a>
											</li>
											<li>
													<a href="Saree" title="Boys">Saree</a>
											</li>
											<li>
													<a href="Gown" title="Boys">Gown</a>
											</li>
									</ul>
							</div>
							<!-- End class="categories" -->


                <hr />
            </div>
            <div class="col-sm-4">

                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>

                    <form onsubmit="return false;" enctype="multipart/form-data" action="#" method="post">

                        <div class="input-group">
                            <input type="text" name="email" class="form-control" />
                            <span class="input-group-addon btn" type="submit" id="newsletter_submit" data-toggle="modal" data-target="#newsletter_subscribe">Go!</span>
                        </div>

                    </form>

                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->


                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>

                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>

                    </ul>
                </div>
                <!-- End class="social" -->

            </div>
        </div>
    </div>
</div>
<!-- End id="footer" -->

<!-- Credits bar -->
<div class="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
            </div>
            <div class="col-sm-4 text-right hidden-xs">
                <p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End class="credits" -->

			<!-- Credits bar -->
			<!-- Options panel -->
            <div class="options-panel-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="option_color_scheme" class="control-label">Color scheme</label>
                        <div class="controls">
                    <select name="option_color_scheme" id="option_color_scheme" class="col-md-12">
                        <option value="/stylesheets/css/color-schemes/turquoise.css">Turquoise</option>
                        <option value="/stylesheets/css/color-schemes/greensea.css">Green sea</option>
                        <option value="/stylesheets/css/color-schemes/emerland.css">Emerland</option>
                        <option value="/stylesheets/css/color-schemes/nephritis.css">Nephritis</option>
                        <option value="/stylesheets/css/color-schemes/peterriver.css">Peter river</option>
                        <option value="/stylesheets/css/color-schemes/belizehole.css">Belizehole</option>
                        <option value="/stylesheets/css/color-schemes/amethyst.css">Amethyst</option>
                        <option value="/stylesheets/css/color-schemes/wisteria.css">Wisteria</option>
                        <option value="/stylesheets/css/color-schemes/wetasphalt.css">Wet asphalt</option>
                        <option value="/stylesheets/css/color-schemes/midnightblue.css">Midnight blue</option>
                        <option value="/stylesheets/css/color-schemes/sunflower.css">Sunflower</option>
                        <option value="/stylesheets/css/color-schemes/orange.css">Orange</option>
                        <option value="/stylesheets/css/color-schemes/carrot.css">Carrot</option>
                        <option value="/stylesheets/css/color-schemes/pumpkin.css">Pumpkin</option>
                        <option value="/stylesheets/css/color-schemes/alizarin.css">Alizarin</option>
                        <option value="/stylesheets/css/color-schemes/pomegranate.css">Pomegranate</option>
                    </select>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="options-panel-toggle">
        <a href="#" title=""><i class="fa fa-cog"></i></a>
    </div>
</div>
<!-- End class="options-panel" -->
			

		</div>
   
		<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>

<!-- END JAVASCRIPTS -->

	</body>

<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
</html>
