<% include partials/header %>
<!-- End class="navigation" -->


			<!-- Content section -->
			<section class="main">



<!-- Category content -->
<section class="category">

    <div class="container">
        <div class="row">

            <div class="col-sm-3">

                <!-- Sidebar -->
                <aside class="sidebar">

                    <div class="children">
                        <div class="box border-top">

                            <div class="hgroup title">
                                <h3>
                                    <a href="#" title="Womens">Womens</a>
                                </h3>
                            </div>

                            <div class="category-list list-group">
                                <a href="DeLehengaCholi" class="list-group-item active" title="Lahenga Choli">
                                    <span class="badge">36</span>
                                    Lehenga Choli
                                </a>
                                <a href="BridalLehengaCholi" class="list-group-item " title="Lahenga Choli">
                                <span class="badge">36</span>
                                 Bridal Lehenga Choli
                                </a>
                                <a href="DesignerKurti" class="list-group-item " title="Kurti">
                                    <span class="badge">11</span>
                                    Designer Kurti
                                </a>
                                <a href="PalazzoKurti" class="list-group-item " title="Kurti">
                                    <span class="badge">11</span>
                                    Palazzo Kurti
                                </a>
                                <a href="ChexChaniyaCholi" class="list-group-item" title="Chex Print Chaniyacholi">
                                    <span class="badge">2</span>
                                    Chex Print Chaniyacholi
                                </a>
                                <a href="DesignerBlouse" class="list-group-item" title="Designer Blouse">
                                    <span class="badge">7</span>
                                    Designer Blouse
                                </a>
                                <a href="KidsWear" class="list-group-item" title="Kids Wear">
                                    <span class="badge">8</span>
                                    Kids Wear
                                </a>
                                <a href="Saree" class="list-group-item" title="Saree">
                                    <span class="badge">0</span>
                                    Saree
                                </a>
									<a href="Gown" class="list-group-item" title="Gown">
                                    <span class="badge">0</span>
                                  	Gown
                                </a>
									<a href="ComboWear" class="list-group-item" title="Combo Wear">
										<span class="badge">0</span>
										Combo Wear
								</a>
                            </div>
                        </div>
                    </div>

                    <!-- Price filter -->
                    <div class="price-filter">
                        <div class="box border-top">
                            <div class="hgroup title">
                                <h3>Refine products</h3>
                                <h5>Filter your products by price</h5>
                            </div>

                            <div id="slider" data-max="200" data-step="5" data-currency="&pound;"> </div>
                            <span id="slider-label">Price range: <strong>£0 &ndash; £200</strong></span>
                        </div>
                    </div>
                    <!-- End class="price-filter" -->


                    <!-- Latest reviews -->
                    <div class="widget LatestProductReviews">
                        <h3 class="widget-title widget-title ">Latest product reviews</h3>
                        <ul class="ratings-small">
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0089.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Designer LehengaCholi</h6>
                                    <div class="rating rating-3">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0070.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Chex Print Chaniyacholi</h6>
                                    <div class="rating rating-1">
                                         <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a title="View product" href="product.html">
                                        <img class="gravatar" src="/images/img/IMG-20181214-WA0051.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>Designer Blouse with Saree</h6>
                                    <div class="rating rating-4">
                                         <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end class="widget LatestProductReviews" -->

                    <!-- Latest Products -->
                    <div class="widget LatestProducts">
                        <h3 class="widget-title widget-title ">What's new</h3>
                        <ul class="product-list-small">
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Lolita">
                                        <img src="/images/img/LehenghaCholi/Designer/LehengaCholiSilk.jpg" alt="Lolita" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Latest Shaded LehengaCholi">Shaded LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £88.00
                                    </div>

                                    <div class="rating rating-4">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
																				<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi with Work">
                                        <img src="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" alt="LehengaCholi with Work" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Mars">LehengaCholi with Work</a>
                                    </h6>

                                    <div class="price">
                                        £398.00
                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Bordered LehengaCholi">
                                        <img src="/images/img/LehenghaCholi/Designer/Bordered_LehengaCholi.jpg" alt="Bordered LehengaCholi" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Bordered LehengaCholi">Bordered LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £38.00
                                    </div>

                                    <div class="rating rating-4">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End class="widget LatestProducts" -->

                    <!-- Products on Sale -->
                    <div class="widget Productsonsale">
                        <h3 class="widget-title widget-title ">Special offers</h3>
                        <ul class="product-list-small">
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi With Traditional Blouse">
                                        <img src="/images/img/LehenghaCholi/Designer/Nav3_Lehenga.jpg" alt="Dip Dye Panel Henley" />
                                    </a>
                                </div>
                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="LehengaCholi With Traditional Blouse">LehengaCholi With<br> Traditional Blouse</a>
                                    </h6>

                                    <div class="price">
                                        £48.00
                                        <del style="font-size: 10px;">£60.00</del>
                                        <span class="label label-sale">Sale</span>
                                    </div>

                                    <div class="rating rating-4.5">
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="Simple LehengaCholi">
                                        <img src="/images/img/LehenghaCholi/Designer/Nav2_lehengaCholi.jpg" alt="Simple LehengaCholi" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="Simple LehengaCholi">Simple LehengaCholi</a>
                                    </h6>

                                    <div class="price">
                                        £48.00
                                        <del style="font-size: 10px;">£58.00</del>
                                        <span class="label label-sale">Sale</span>
                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="product.html" title="LehengaCholi with Blouse Work">
                                        <img src="/images/img/LehenghaCholi/Designer/Crop12_Lehenga.jpg" alt="LehengaCholi with Blouse Work" />
                                    </a>
                                </div>

                                <div class="desc">
                                    <h6>
                                        <a href="product.html" title="LehengaCholi with Blouse Work">LehengaCholi with<br> Blouse Work</a>
                                    </h6>

                                    <div class="price">
                                        £131.99
                                        <del style="font-size: 10px;">£175.00</del>
                                        <span class="label label-sale">Sale</span>

                                    </div>

                                    <div class="rating rating-0">
																			<i class="fa fa-heart"></i>
																			<i class="fa fa-heart"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End  class="widget Productsonsale" -->

                </aside>

                <!-- End sidebar -->

            </div>


            <div class="col-sm-9">

                <!-- Products list -->
<ul class="product-list isotope">

<% DeLehengaCholi.forEach(function(demo){%>
    <li class="standard" data-price="58">
        <a href='/ShowFullDetails/<%= demo._id %>' title="LehengaCholi with Designer Blouse">
            <div class="image">
                <img class="primary" src="http://localhost:3000/images/upload/<%= demo.Image %>" alt="LehengaCholi with Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price"><%= demo.Price %></span>
                </div>
                <h3><%= demo.Category_Name%></h3>
            </div>

        </a>
    </li>

    <%}) %>
   
   
</ul>
<!-- End class="product-list isotope" -->

             

            </div>


        </div>
    </div>

</section>
<!-- End class="category" -->

			</section>
			<!-- End class="main" -->

			<!-- Twitter bar -->
<div class="twitter-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div data-username="lemonstand" id="tweets">
                	<ul class="tweet_list">
	                	<li class="tweet_first tweet_odd">
		                	<div class="tweet">
			                	<div class="avatar">
				                	<a href="http://twitter.com/LemonStand" class="tweet_avatar">
					                	<img width="60" border="0" height="60" title="LemonStand's avatar" alt="LemonStand's avatar" src="../pbs.twimg.com/profile_images/469596772147290113/m9O0h_3e_bigger.png">
				                	</a>
			                	</div>
			                	<div class="text">
				                	<span class="tweet_text">
				                	<span class="at">@</span>
				                		<a href="http://twitter.com/Alesya">Alesya</a> we don't have an app to manage your store's admin, sorry.
				                	</span>
				                	<span class="tweet_time">
				                		<a title="view tweet on twitter" href="http://twitter.com/LemonStand/status/375472363791720448">
				                		about 664 days ago</a>
				                	</span>
			                	</div>
		                	</div>
	                	</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End class="twitter-bar" -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
							<!-- Support -->
							<div class="support">
									<h6>Support</h6>

									<ul class="links">
											<li>
													<a href="AboutUs" title="About us" class="title">About us</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">FAQ</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">Contact Us</a>
											</li>
									</ul>
							</div>
							<!-- End class="support" -->

                <hr />

                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>

                    <ul class="links">
                        <li>
                            <a href="login-register.html" title="Login / Register">Login / Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="account"-->

            </div>

            <div class="col-sm-2">

							<!-- Categories -->
							<div class="categories">
									<h6>Shop</h6>

									<ul class="links">
											<li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                                            </li>
                                            <li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
											</li>
											<li>
													<a href="DesignerKurti" title="Men">Kurti</a>
                                            </li>
                                            <li>
													<a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
											</li>
											<li>
													<a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
											</li>
											<li>
													<a href="DesignerBlouse" title="Boys">Designer Blouse</a>
											</li>
											<li>
													<a href="KidsWear" title="Boys">Kids Wear</a>
											</li>
											<li>
													<a href="Saree" title="Boys">Saree</a>
											</li>
											<li>
													<a href="Gown" title="Boys">Gown</a>
											</li>
									</ul>
							</div>
							<!-- End class="categories" -->


                <hr />
            </div>
            <div class="col-sm-4">

                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>

                
<form action="/NewsletterSubscription" method="post">

<div class="input-group">
    <input type="text" name="Email_ID" class="form-control" />
    <input type="submit" value="Send" class="btn btn-primary" />
</div>

</form>


                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->


                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>

                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>

                    </ul>
                </div>
                <!-- End class="social" -->

            </div>
        </div>
    </div>
</div>
<!-- End id="footer" -->

<!-- Credits bar -->
<div class="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
            </div>
            <div class="col-sm-4 text-right hidden-xs">
                <p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End class="credits" -->

			<!-- Credits bar -->
			<!-- Options panel -->
           
<!-- End class="options-panel" -->
			

		</div>
   
		<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>

<!-- END JAVASCRIPTS -->

	</body>

<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
</html>
