<% include partials/header %>
<!-- End class="navigation" -->


			<!-- Content section -->
			<section class="main">



<!-- Home content -->
<section class="home">

    <!-- Slider -->
<section class="flexslider">
    <ul class="slides">
        <li>
					<div style="background-image:url('/images/img/eleganza-italian-fashion-from-1945-to-today-an-italian-hi8.jpeg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                 <!--   <div class="col-md-6">
                        <h3>Designer Piece</h3>
                        <br />
                        <p>Designer off Shoulder Gown</p>
                        <br /> <a class="btn btn-sm" title="" href="retina-ready-icons-2.html">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="#">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div> !-->
                </div>
            </div>
        </li>
        <li>
						<div style="background-image:url('/images/img/3f2a4c1575aac4139b4edac5c7c7875e.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                   <!-- <div class="col-md-6">
                        <h3>Designer piece</h3>
                        <br />
                        <p>Off Shoulder Designer piece with Flower Work</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div> !-->
                </div>
            </div>
        </li>
        <li>
            <div style="background-image:url('/images/img/Kids Wear/Skirt_Top_FrockStyple_KidsWear.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                   <!-- <div class="col-md-6 col-md-offset-6 text-right">
                        <h3>Designer Piece</h3>
                        <br />
                        <p>Designer Frock & Skirt-Top</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div> !-->
                </div>
            </div>
        </li>
        <li>
          <div style="background-image:url('/images/img/Kids wear/DesignerGown_Babies.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                  <!--  <div class="col-md-6 col-md-offset-6 text-right">
                        <h3>Designer Gown</h3>
                        <br/>
                        <p>Designer Baby Frock</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div> !-->
                </div>
            </div>
        </li>
    </ul>
</section>

    <section class="featured">
        <div class="container">

            <div class="row">
                <div class="col-sm-9">
                   	<!-- Products list -->
<ul class="product-list isotope">
<% Home.forEach(function(demo){%>
    <li class="standard" data-price="58">
        <a href='/ShowFullDetails/<%= demo._id %>' title="Lehenga With Designer Blouse">
            <div class="image">
                <img class="primary" src="http://localhost:3001/images/upload/<%= demo.Image %>" alt="Lehenga With Designer Blouse" />
              
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price"><%= demo.Price %></span>
                </div>
                <h3><%= demo.Product_Name%></h3>
            </div>

        </a>
    </li>
    <%}) %>
  
  
</ul>
<!-- End class="product-list isotope" -->
                </div>

                <% include partials/Footer %>