<% include partials/header %>
<!-- End class="navigation" -->


			<!-- Content section -->
			<section class="main">



<!-- Home content -->
<section class="home">

    <!-- Slider -->
<section class="flexslider">
    <ul class="slides">
        <li>
					<div style="background-image:url('/images/img/eleganza-italian-fashion-from-1945-to-today-an-italian-hi8.jpeg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                    <div class="col-md-6">
                        <h3>Designer Piece</h3>
                        <br />
                        <p>Designer off Shoulder Gown</p>
                        <br /> <a class="btn btn-sm" title="" href="retina-ready-icons-2.html">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="#">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
						<div style="background-image:url('/images/img/3f2a4c1575aac4139b4edac5c7c7875e.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                    <div class="col-md-6">
                        <h3>Designer piece</h3>
                        <br />
                        <p>Off Shoulder Designer piece with Flower Work</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div style="background-image:url('/images/img/Kids Wear/Skirt_Top_FrockStyple_KidsWear.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                    <div class="col-md-6 col-md-offset-6 text-right">
                        <h3>Designer Piece</h3>
                        <br />
                        <p>Designer Frock & Skirt-Top</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
          <div style="background-image:url('/images/img/Kids wear/DesignerGown_Babies.jpg')" class="cover-img"></div>
            <div class="caption">
                <div class="container">
                    <div class="col-md-6 col-md-offset-6 text-right">
                        <h3>Designer Gown</h3>
                        <br/>
                        <p>Designer Baby Frock</p>
                        <br /> <a class="btn btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">Find out more</a>
                        <a class="btn btn-primary btn-sm" title="" href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi">
                            Buy now &nbsp; <em class="fa fa-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

    <section class="featured">
        <div class="container">

            <div class="row">
                <div class="col-sm-9">
                   	<!-- Products list -->
<ul class="product-list isotope">
    <li class="standard" data-price="58">
        <a href="Product" title="Lehenga With Designer Blouse">
            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20180805-WA0038.jpg" alt="Lehenga With Designer Blouse" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20180805-WA00389.jpg" alt="Lehenga With Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£58.00</span>
                </div>
                <h3>Lehenga With Designer Blouse	</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="55">
        <a href="product.html" title="Bridal LehengaCholi">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/img-20181126-wa0024.jpg" alt="Bridal LehengaCholi" />
                <img class="secondary" src="/images/img/thumbnails/img-20181126-wa0024-2.jpg" alt="Bridal LehengaCholi" />
            </div>

            <div class="title">
                <div class="prices">
                    <del class="base">£58.00</del>
                    <span class="price">£57.99</span>
                </div>
                <h3>Bridal LehengaCholi</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="88">
        <a href="product.html" title="Designer Blouse">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0028.jpg" alt="Designer Blouse" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20181214-WA0028-2.jpg" alt="Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£88.00</span>
                </div>

                <h3>Designer Blouse</h3>

                <div class="rating rating-5">
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                </div>
            </div>

        </a>
    </li>
    <li class="standard" data-price="70">
        <a href="product.html" title="Designer Blouse With Bordered Lehehnga">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG_20181214_233409_643.jpg" alt="Designer Blouse With Bordered Lehehnga" />
                <img class="secondary" src="/images/img/thumbnails/IMG_20181214_233409_643-2.jpg" alt="Designer Blouse With Bordered Lehehnga" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£70.00</span>
                </div>
                <h3>Designer Blouse With Bordered Lehehnga</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="220">
        <a href="product.html" title="Combo Wear">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG_20181214_233040_903.jpg" alt="Combo Wear" />
                <img class="secondary" src="/images/img/thumbnails/IMG_20181214_233040_903-2.jpg" alt="Combo Wear" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£220.00</span>
                </div>
                <h3>Combo Wear</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="50">
        <a href="product.html" title="Mother Daughter Combo Wear">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20190108-WA0005.jpg" alt="Mother Daughter Combo Wear" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£50.00</span>
                </div>
                <h3>Mother Daughter Combo Wear</h3>

                <div class="rating rating-3">
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                </div>
            </div>

        </a>
    </li>
    <li class="featured" data-price="28">
        <a href="product.html" title="Kids Wear">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/kidswearfinal.jpg" alt="Kids Wear" />
                <img class="secondary" src="/images/img/thumbnails/kidswearfinal-2	.jpg" alt="Kids Wear" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£28.00</span>
                </div>
                <h3>Kids Wear</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="140">
        <a href="product.html" title="Bridal LehengaCholi">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0089.jpg" alt="Bridal LehengaCholi" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20181214-WA0089-2.jpg" alt="Bridal LehengaCholi" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£140.00</span>
                </div>
                <h3>Bridal LehengaCholi</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="195">
        <a href="product.html" title="Different Work Blouse With Designer Lehenga">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20180805-WA0022.jpg" alt="Different Work Blouse With Designer Lehenga" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20180805-WA0022-2.jpg" alt="Different Work Blouse With Designer Lehenga" />
                <span class="badge badge-sale">SALE</span>
            </div>

            <div class="title">
                <div class="prices">
                    <del class="base">£499.00</del>
                    <span class="price">£198.00</span>
                </div>
                <h3>Different Work Blouse With Designer Lehenga</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="38">
        <a href="product.html" title="paplam">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0091-2.jpg" alt="paplam" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20181214-WA0091-2.jpg" alt="paplam" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£38.00</span>
                </div>
                <h3>paplam</h3>

                <div class="rating rating-4.5">
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-heart"></i>
                </div>
            </div>

        </a>
    </li>
    <li class="standard" data-price="72">
        <a href="product.html" title="Simple Lehenga With Designer Blouse">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0087.jpg" alt="Simple Lehenga With Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£72.00</span>
                </div>
                <h3>Simple Lehenga With Designer Blouse</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="58">
        <a href="product.html" title="Designer Blouse">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0043.jpg" alt="Designer Blouse" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20181214-WA0043-2.jpg" alt="Designer Blouse" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£58.00</span>
                </div>
                <h3>Designer Blouse</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="48">
        <a href="product.html" title="Crop Top With Cotton Base Printed Lehenga">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20180805-WA0029.jpg" alt="Crop Top With Cotton Base Printed Lehenga" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20180805-WA0029-2.jpg" alt="Crop Top With Cotton Base Printed Lehenga" />

                <span class="badge badge-sale">SALE</span>
            </div>

            <div class="title">
                <div class="prices">
                    <del class="base">£58.00</del>
                    <span class="price">£48.00</span>
                </div>
                <h3>Crop Top With Cotton Base Printed Lehenga</h3>
            </div>

        </a>
    </li>
    <li class="standard" data-price="228">
        <a href="product.html" title="Designer Pieces">

            <div class="image">
                <img class="primary" src="/images/img/thumbnails/IMG-20181214-WA0093.jpg" alt="Designer Pieces" />
                <img class="secondary" src="/images/img/thumbnails/IMG-20181214-WA0093-2.jpg" alt="Designer Pieces" />
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">£228.00</span>
                </div>
                <h3>Designer Pieces</h3>
            </div>

        </a>
    </li>
</ul>
<!-- End class="product-list isotope" -->
                </div>

                <% include partials/Footer %>