<% include partials/header %>
<!-- End class="navigation" -->

			
			<!-- Content section -->	
			<section class="main">
			
				

<!-- Login / Register -->
<section class="login_register">


    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- Login -->
<div class="login">
    <div class="box">
        <form action="/login" method="post">

            <div class="hgroup title">
                <h3>Customer login</h3>
                <h5>Please login using your existing account</h5>
            </div>

            <div class="box-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="login_email">Email</label>
                            <div class="controls">
                                <input class="form-control" id="login_email" type="text" name="email" value="" onblur="validateEmail(this);" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">	
                        <div class="form-group">					
                            <label class="control-label" for="login_password">Password</label>
                            <div class="controls">
                                <input class="form-control" id="login_password" type="password" name="password" />
                            </div>
                        </div>
                    </div>
                </div>	
            </div>

            <div class="buttons">
                <button type="submit" class="btn btn-primary btn-sm btn-block-xs" name="login" value="Login">
                    Login
                </button>
                <a href="reset-password.html" class="btn btn-sm btn-block-xs">
                    Reset my password
                </a>
            </div>		           
        </form>		
    </div>
</div>
<!-- End class="login" -->                                
            </div>
            
            <div class="col-sm-6">                                
                <!-- Register -->
<div class="register">
    <div class="box">
        <div class="hgroup title">
            <h3>Want to Register?</h3>
            <h5>Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website. You'll also be able to track your orders with ease!</h5>
        </div>

        <div class="buttons">
            <a href="#" class="btn btn-sm btn-block-xs" data-toggle="modal" data-target="#register">
                Register now &nbsp; <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End class="register" -->
            </div>	
        </div>
    </div>

    <!-- Register modal window -->
<div id="register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

		    <form action="/signup" method="post">
		
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		            <div class="hgroup title">
		                <h3>Register now</h3>
		                <h5>Registered users get access to features such as order history and so much more!</h5>
		            </div>
		        </div>
		
		        <div class="modal-body">
		
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group">
		                        <label class="control-label" for="first_name">First name</label>
		                        <div class="controls">
		                            <input type="text" class="form-control" id="first_name" name="First_Name" value="" />
		                        </div>
		                    </div>
		                </div>
		
		                <div class="col-sm-6">
		                    <div class="form-group">
		                        <label class="control-label" for="last_name">Last name</label>
		                        <div class="controls">
		                            <input type="text" class="form-control" id="last_name" name="Last_Name" value="" />
		                        </div>
		                    </div>
		                </div>
		            </div>
		
		            <div class="row">
		                <div class="col-sm-12">
		                    <div class="form-group">
		                        <label class="control-label" for="email">Email address</label>
		                        <div class="controls">
		                            <input type="text" class="form-control" id="email" name="email" value="" onblur="validateEmail(this);"  />
		                        </div>
		                    </div>
		                </div>
		            </div>
		
		            <div class="row">	
		                <div class="col-sm-6">
		                    <div class="form-group">
		                        <label class="control-label" for="password">Password</label>
		                        <div class="controls">
		                            <input class="col-sm-12" type="password" id="password"  name="password" autocomplete="off" />
		                        </div>
		                    </div>
		                </div>
		
		                <div class="col-sm-6">
		                    <div class="form-group">
		                        <label class="control-label" for="password_confirm">Password confirm</label>
		                        <div class="controls">
		                            <input class="col-sm-12" type="password" id="password_confirm"  name="password_confirm" autocomplete="off" />
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		
		        <div class="modal-footer">
		            <button type="submit" class="btn btn-primary btn-sm" name="signup" value="Register">
		                Register now &nbsp; <i class="fa fa-check"></i>
		            </button>
		        </div>                           
		
		    </form>
    
    	</div>
    </div>
</div>
<!-- End Register modal window --> 
    
</section>                
<!-- End Login / Register -->
			
			</section>
			<!-- End class="main" -->
			
		
			
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
							<!-- Support -->
							<div class="support">
									<h6>Support</h6>

									<ul class="links">
											<li>
													<a href="AboutUs" title="About us" class="title">About us</a>
											</li>
											
											<li>
													<a href="Home" title="About us" class="title">Contact Us</a>
											</li>
									</ul>
							</div>
							<!-- End class="support" -->

                <hr />

                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>

                    <ul class="links">
                        <li>
                            <a href="LoginReg" title="Login / Register">Login / Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="account"-->

            </div>

            <div class="col-sm-2">

							<!-- Categories -->
							<div class="categories">
									<h6>Shop</h6>

									<ul class="links">
											<li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                                            </li>
                                            <li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
											</li>
											<li>
													<a href="DesignerKurti" title="Men">Kurti</a>
                                            </li>
                                            <li>
													<a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
											</li>
											<li>
													<a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
											</li>
											<li>
													<a href="DesignerBlouse" title="Boys">Designer Blouse</a>
											</li>
											<li>
													<a href="KidsWear" title="Boys">Kids Wear</a>
											</li>
											<li>
													<a href="Saree" title="Boys">Saree</a>
											</li>
											<li>
													<a href="Gown" title="Boys">Gown</a>
											</li>
									</ul>
							</div>
							<!-- End class="categories" -->


                <hr />
            </div>
            <div class="col-sm-4">

                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>

                    <form action="/NewsletterSubscription" method="post">

    <div class="input-group">
        <input type="text" name="Email_ID" class="form-control" />
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>

</form>

                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->


                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>

                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>

                    </ul>
                </div>
                <!-- End class="social" -->

            </div>
        </div>
    </div>
</div>
<!-- End id="footer" -->

			<!-- Credits bar -->
<div class="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
            </div>
            <div class="col-sm-4 text-right hidden-xs">
                <p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End class="credits" -->
			<!-- Options panel -->
<div class="options-panel">
    <div class="options-panel-content">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="option_color_scheme" class="control-label">Color scheme</label>
                    <div class="controls">
                <select name="option_color_scheme" id="option_color_scheme" class="col-md-12">
                    <option value="/stylesheets/css/color-schemes/turquoise.css">Turquoise</option>
                    <option value="/stylesheets/css/color-schemes/greensea.css">Green sea</option>
                    <option value="/stylesheets/css/color-schemes/emerland.css">Emerland</option>
                    <option value="/stylesheets/css/color-schemes/nephritis.css">Nephritis</option>
                    <option value="/stylesheets/css/color-schemes/peterriver.css">Peter river</option>
                    <option value="/stylesheets/css/color-schemes/belizehole.css">Belizehole</option>
                    <option value="/stylesheets/css/color-schemes/amethyst.css">Amethyst</option>
                    <option value="/stylesheets/css/color-schemes/wisteria.css">Wisteria</option>
                    <option value="/stylesheets/css/color-schemes/wetasphalt.css">Wet asphalt</option>
                    <option value="/stylesheets/css/color-schemes/midnightblue.css">Midnight blue</option>
                    <option value="/stylesheets/css/color-schemes/sunflower.css">Sunflower</option>
                    <option value="/stylesheets/css/color-schemes/orange.css">Orange</option>
                    <option value="/stylesheets/css/color-schemes/carrot.css">Carrot</option>
                    <option value="/stylesheets/css/color-schemes/pumpkin.css">Pumpkin</option>
                    <option value="/stylesheets/css/color-schemes/alizarin.css">Alizarin</option>
                    <option value="/stylesheets/css/color-schemes/pomegranate.css">Pomegranate</option>
                </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="options-panel-toggle">
        <a href="#" title=""><i class="fa fa-cog"></i></a>
    </div>
</div>
<!-- End class="options-panel" -->
			<!-- Newsletter modal window -->
<div id="newsletter_subscribe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
		        <div class="hgroup title">
		            <h3 id="modal-label">You are now subscribed to our newsletter</h3>
		            <h5>All the latest deals and offers will be making their way to your inbox shortly!</h5>
		        </div>
		    </div>
		
		    <div class="modal-footer">	
	            <button data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-block-xs">
	                Close &nbsp; <i class="fa fa-check"></i>
	            </button>
		    </div>

		</div>
	</div>
</div>
<!-- End id="newsletter_subscribe" -->
		
		</div>
		
		<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>
<script>
function validateEmail(emailField){
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z])$/;

        if (reg.test(emailField.value) == false) 
        {
            alert('Invalid Email Address');
            return false;
        }

        return true;

}
</script>

<!-- END JAVASCRIPTS -->
	
	</body>

<!-- Mirrored from alpha.laboutiquetheme.com/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
</html>