<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">

<!-- Mirrored from alpha.laboutiquetheme.com/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:47 GMT -->
<head>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="La Boutique HTML v10.0" />

<title>Category</title>

<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/stylesheets/css/flexslider.css" />
<link rel="stylesheet" href="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.css" />

<link rel="stylesheet" href="/stylesheets/css/color-schemes/turquoise.css" id="color_scheme" />

<!-- <meta http-equiv="X-UA-Compatible" content="IE=7; IE=8" />-->
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<link href="http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light" rel="stylesheet">
	</head>
	<body>

		<div class="wrapper">

			<!-- Header -->
<div class="header">
		<!-- Top bar -->
		<div class="top">
				<div class="container">
						<div class="row">
								<div class="col-sm-6">
										<p>
												<strong>Welcome Guest!!!</strong>
										</p>
								</div>
								<div class="col-sm-6 hidden-xs">
										<ul class="list-inline pull-right">
												<li>
														<a href="LoginReg" title="Login / Register">Login / Register</a>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
		<!-- End class="top" -->
    <!-- Logo & Search bar -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6">

                	<!-- Logo -->
                    <div class="logo">
                        <a href="index-2.html" title="&larr; Back home">
                            <img src="/images/img/1106d0b4-0b05-4c15-9cb3-55dbbde9af43.jpg" alt="La Boutique" />
                        </a>
                    </div>
                    <!-- End class="logo"-->

                </div>
                <div class="col-sm-5 col-sm-offset-1 col-md-3">

                	<!-- Search -->
                    <div class="search">
                        <div class="qs_s">

                            <form method="post" action="http://alpha.laboutiquetheme.com/search.html">
                                <input type="text" name="query" id="query" placeholder="Search&hellip;" autocomplete="off" value="">
                            </form>

                            <!-- Autocomplete results -->
                            <div id="autocomplete-results" style="display: none;">
                                <ul>
                                    <li>
                                        <a title="Lisette Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_48_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Lisette Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Malta Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_137_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Malta Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Marais Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_42_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Marais Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Millay Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_107_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Millay Dress</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Momoko Dress" href="product.html">
                                            <div class="image">
                                                <img src="img/thumbnails/db_file_img_132_60x60.jpg" alt="" />
                                            </div>
                                            <h6>Momoko Dress</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End id="autocomplete-results" -->

                        </div>
                    </div>
                    <!-- End class="search"-->

                </div>

                <!-- Mini cart -->
                <div class="mini-cart">
                    <a href="cart.html" title="Go to cart &rarr;">
                    <img src="/images/img/cart.png" alt="La Boutique" />
                        <span>3</span>
                    </a>
                </div>
                <!-- End class="mini-cart" -->

            </div>
        </div>
    </div>
    <!-- End class="bottom" -->

</div>
<!-- End class="header" -->
<!-- Navigation -->
<nav class="navigation">
    <div class="container">

        <div class="row">
            <div class="col-md-9">

							<a href="#" class="main-menu-button">Navigation</a>
							<!-- Begin Menu Container -->
							<div class="megamenu_container">
							    <div class="menu-main-navigation-container">
							        <ul id="menu-main-navigation" class="main-menu">

							            <li class="menu-item-home menu-item-has-children megamenu-parent " data-width="">
							            	<a href="Home">Home</a>
							                <ul class="sub-menu">
							                    <li class="megamenu-heading"><a href="#MegaMenuHeading"><h3>New Arrivals</h3></a></li>
							                    <li class="menu-item-has-children megamenu-column">
							                        <a href="#MegaMenuColumn">New Arrivals</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">Designer piece</a></li>
							                            <li class="megamenu-content">
							                                <p><img title="" alt="" src="/images/img/IMG-20181214-WA0062.jpg"></p>
							                                <p>Designer Lehenga with stylist crop top.</p></li>
							                        </ul>
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading"> videos</a></li>
							                            <li class="megamenu-content"><p> <iframe src='http://player.vimeo.com/video/68161548' width='225' height='144' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							                                </p>
							                                <p>Praesent a dolor sem. Sed scelerisque, tellus id pulvinar tristique, erat eros rutrum mi, id adipiscing arcu sem vel est. Ut ac turpis ipsum. Mauris leo nulla, vestibulum id bibendum.</p></li>
							                        </ul>
							                    </li>
							                    <li class="menu-item-has-children megamenu-column"><a href="#MegaMenuColumn">New Arrivals</a>
							                        <ul class="sub-menu">
							                            <li class="megamenu-heading"><a href="#MegaMenuHeading">And Google maps!</a></li>
							                            <li class="megamenu-content">
							                                <p>
							                                    <iframe width="100%" height="144" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=52.204004,0.122824&amp;spn=0.005865,0.014677&amp;z=11&amp;output=embed"></iframe>
							                                </p>
							                                <p>
							                                    <strong>Aarav Designer Boutique</strong><br>
							                                    <em class="fa fa-map-marker fa-lg"></em> New Ranip,Ahmedabad<br>
							                                    <em class="fa fa-phone fa-lg"></em> 7600260417
							                                </p>
							                            </li>
							                        </ul>
							                    </li>
							                </ul>
							            </li>


													            <li class="menu-item-has-children">
													            	<a href="category.html">Shop</a>
													                <ul class="sub-menu">
													                    <li class="menu-item-has-children">
													                    	<a href="#">Lehenga Choli</a>
													                        <ul class="sub-menu">
													                            <li><a href="DeLehengaCholi">Designer Lehenga Choli</a></li>
													                            <li><a href="BridalLehengaCholi">Bridal Lehenga Choli</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="category.html">Kurti</a>
													                        <ul class="sub-menu">
													                            <li><a href="DesignerKurti">Designer Kurti</a></li>
													                            <li ><a href="PalazzoKurti">Palazzo Kurti</a></li>
													                        </ul>
													                    </li>
													                    <li class="menu-item-has-children">
													                    	<a href="ChexChaniyaCholi">Chex Print Chaniya choli</a>
													                    </li>
													                    <li><a href="DesignerBlouse" title="Sale">Designer Blouse</a></li>
																		<li><a href="KidsWear" title="Sale">Kids wear</a></li>
																		<li><a href="Saree" title="Sale">Saree</a></li>
																		<li><a href="Gown" title="Sale">Gown</a></li>
																		<li><a href="ComboWear" title="Sale">Combo Wear</a></li>
													                </ul>
													            </li>

													            <li class="menu-item-has-children megamenu-parent" data-width="550">
													            	<a href="#">Customize order</a>
																				<ul class="sub-menu">
																						<li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
																						<center><li class="megamenu-heading"><a href="#MegaMenuHeading">Customize Order</a></li></center>
																						<li class="megamenu-content">
																								<div class="wpcf7">
																										<form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
																												<label>Your Name (required)</label><br>
																												<input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
																												<label>Your Phone no. (required)</label><br>
																												<input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
																												<label>Your Email (required)</label><br>
																												<input type="email" name="your-email" value="" size="40"aria-required="true" /><br>
																												<label>City</label><br>
																												<input type="text" name="your-subject" value="" size="40" /><br>
																												<label>State</label><br>
																												<input type="text" name="your-subject" value="" size="40" /><br>
																												<label>Your Message(Customize Order Requirments)</label><br>
																												<textarea name="your-message" cols="40" rows="10" ></textarea>

																												<input type="submit" value="Send" class="btn btn-primary" />
																										</form>
																								</div>
																						</li>
																				</ul>
																</li>


													            <li ><a href="cart.html">Cart</a></li>

													            <li class="menu-item-has-children megamenu-parent" data-width="400">
													                <a href="">Contact Us</a>
													                <ul class="sub-menu">
													                    <li class="megamenu-column"><a href="#MegaMenuColumn">Mega Menu Column</a></li>
													                    <center><li class="megamenu-heading"><a href="#MegaMenuHeading">Contact Us</a></li></center>
													                    <li class="megamenu-content">
													                        <div class="wpcf7">
													                            <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
													                                <label>Your Name (required)</label><br>
													                                <input type="text" name="your-name" value="" size="40" aria-required="true" /><br>
													                                <label>Your Email (required)</label><br>
													                                <input type="email" name="your-email" value="" size="40"aria-required="true" /><br>
													                                <label>Subject</label><br>
													                                <input type="text" name="your-subject" value="" size="40" /><br>
													                                <label>Your Message</label><br>
													                                <textarea name="your-message" cols="40" rows="10" ></textarea>

													                                <input type="submit" value="Send" class="btn btn-primary" />
													                            </form>
													                        </div>
													                    </li>
													                </ul>
													            </li>

													        </ul>
													    </div>
													</div>


            </div>

<!-- Content section -->	
<section class="main">
			
				

<!-- Product content -->
<section class="product">

    <!-- Product info -->
    <section class="product-info">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="product-images">
                        <div class="box">
                            <div class="primary">
                                <img src="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" data-zoom-image="images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" alt="Chaser Overalls" />
                            </div>

                            <div class="thumbs" id="gallery">
                                <ul class="thumbs-list">
                                    <li>
                                        <a class="active" href="#" data-image="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" title="Chaser Overalls" data-zoom-image="images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg">
                                            <img src="img/thumbnails/db_file_img_228_160xauto.jpg" alt="Chaser Overalls" />
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="#" data-image="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" title="Chaser Overalls" data-zoom-image="images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg">
                                            <img src="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" alt="Chaser Overalls" />
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="#" data-image="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" title="Chaser Overalls" data-zoom-image="images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg">
                                            <img src="/images/img/LehenghaCholi/Designer/LehengaCholi_Des.jpg" alt="Chaser Overalls" />
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="social">
                                <div id="sharrre">
                                    <div class="facebook"> </div>
                                    <div class="twitter"> </div>
                                    <div class="pinterest"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    
                    <!-- Product content -->
                    <div class="product-content">
                        <div class="box">

                            <!-- Tab panels' navigation -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#product" data-toggle="tab">
                                        <i class="fa fa-reorder fa-lg"></i>
                                        <span class="hidden-xs">Product</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#description" data-toggle="tab">
                                        <i class="fa fa-info-circle fa-lg"></i>
                                        <span class="hidden-xs">Info</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#shipping" data-toggle="tab">
                                        <i class="fa fa-truck fa-lg"></i>
                                        <span class="hidden-xs">Shipping</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#returns" data-toggle="tab">
                                        <i class="fa fa-undo fa-lg"></i>
                                        <span class="hidden-xs">Returns</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#ratings" data-toggle="tab">
                                        <i class="fa fa-heart fa-lg"></i>
                                        <span class="hidden-xs">Ratings</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Tab panels' navigation -->
                            

                            <!-- Tab panels container -->
                            
                            <div class="tab-content">
                                
                                <!-- Product tab -->
                                <div class="tab-pane active" id="product">
                                    <form enctype="multipart/form-data" action="#" onsubmit="return false;" method="post">
                                        
                                        <div class="details">
                                            <h1>Chaser Overalls</h1>
                                            <div class="prices"><span class="price">£92.00</span></div>

                                            <div class="meta">
                                                <div class="sku">
                                                    <i class="fa fa-pencil"></i>
                                                    <span rel="tooltip" title="SKU is 0092">0092</span>
                                                </div>

                                                <div class="categories">
                                                    <span><i class="fa fa-tags"></i><a href="category.html" title="Dresses">Dresses</a></span>, <a href="category.html" title="Womens">Womens</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="short-description">
                                            <p>Vintage-style faux leather short overalls. Long adjustable straps with brass detailing, exposed zip at back, and side slant pockets with single rear welt pocket.</p>
                                        </div>
                                        
                                        <div class="options">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <label for="product_options" class="control-label">Leather</label>
                                                        <div class="controls">
                                                            <select id="product_options" name="product_options[]" class="form-control">
                                                                <option value="Brown">Brown</option>
                                                                <option value="Black" selected="selected">Black</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="add-to-cart">
                                            <button class="btn btn-primary btn-lg btn-block-xs" data-toggle="modal" data-target="#added">
                                                <i class="fa fa-plus"></i> &nbsp; Add to cart
                                            </button>
                                        </div>
                                    </form>						
                                </div>
                                <!-- End id="product" -->
                                
                                <!-- Description tab -->
                                <div class="tab-pane" id="description">
                                    <p><span>Vintage-style faux leather short overalls. Long adjustable straps with brass detailing, exposed zip at back, and side slant pockets with single rear welt pocket.</span><br /><br />
                                        <span>100% Polyester</span>
                                    </p>						
                                </div>
                                <!-- End id="description" -->

                                <!-- Shipping tab -->
                                <div class="tab-pane" id="shipping">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                    <p><img class="img-thumbnail" src="../www.tfingi.com/repo/royal-mail.png" alt="" /><img class="img-thumbnail" src="../www.tfingi.com/repo/ups-logo.png" alt="" /></p>
                                    <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <h6><em class="fa fa-gift"></em> Giftwrap?</h6>
                                    <p>Let us take care of giftwrapping your presents by selecting <strong>Giftwrap</strong> in the order process. Eligible items can be giftwrapped for as little as &pound;0.99, and larger items may be presented in gift bags.</p>						
                                </div>
                                <!-- End id="shipping" -->

                                <!-- Returns tab -->
                                <div class="tab-pane" id="returns">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <p class="lead">For any unwanted goods La Boutique offers a <strong>21-day return policy</strong>.</p>
                                    <p>If you receive items from us that differ from what you have ordered, then you must notify us as soon as possible using our <a href="#">online contact form</a>.</p>
                                    <p>If you find that your items are faulty or damaged on arrival, then you are entitled to a repair, replacement or a refund. Please note that for some goods it may be disproportionately costly to repair, and so where this is the case, then we will give you a replacement or a refund.</p>
                                    <p>Please visit our <a href="#">Warranty section</a> for more details.</p>						
                                </div>
                                <!-- End id="returns" -->

                                
                                <!-- Ratings tab -->
                                <div class="tab-pane" id="ratings">
                                    <div class="ratings-items">

                                        <article class="rating-item">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h5>Shaped for crush</h5>
                                                    <p>I hope they release some more colours of this dress. It feels great and looks sexier.<br>
                                                        <br>
                                                        I love it!</p>
                                                </div>

                                                <div class="col-sm-3">
                                                    <img src="img/thumbnails/avatar.png" class="gravatar" alt="" />
                                                    <h6>Sam Ritora</h6>
                                                    <small>08/30/2013</small>
                                                    <div  class="rating rating-5">
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>


                                        <hr>
                                    </div>

                                    <div class="well">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h6><i class="fa fa-comment-o"></i> &nbsp; Share your opinion!</h6>
                                                <p>Let other people know your thoughts on this product!</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-seconary btn-block" data-toggle="modal" data-target="#review_form">Rate this product</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Review modal window -->
                                    <div id="review_form" class="modal fade" tabindex="-1" role="dialog">
                                    	<div class="modal-dialog">
                                    	    <div class="modal-content">
                                    	    
		                                        <form onsubmit="return false;" enctype="multipart/form-data" action="#" method="post">
		
		                                            <input type="hidden" name="ls_session_key" value="lsk52286509c22077.63404603"/>		
		                                            <div class="modal-header">
		                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                                                <div class="hgroup title">
		                                                    <h3>Modal header</h3>
		                                                    <h5>Modal header</h5>
		                                                </div>
		                                            </div>
		
		                                            <div class="modal-body">
		                                                <div class="row">
		                                                    <div class="col-sm-6">
		                                                        <div class="form-group">
		                                                            <label class="control-label">Rating</label>
		                                                            <div class="controls">
		                                                                <select  class="form-control" name="rate">
		                                                                    <option value="1">1</option>
		                                                                    <option value="2">2</option>
		                                                                    <option value="3">3</option>
		                                                                    <option value="4">4</option>
		                                                                    <option value="5">5</option>
		                                                                </select>
		                                                            </div>
		                                                        </div>
		                                                    </div>
		
		                                                    <div class="col-sm-6">
		                                                        <div class="form-group">
		                                                            <label for="review_title" class="control-label">Review title</label>
		                                                            <div class="controls">
		                                                                <input class="form-control" id="review_title" name="review_title" type="text"/>
		                                                            </div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		
		                                                <div class="row">
		                                                    <div class="col-sm-6">
		                                                        <div class="form-group">
		                                                            <label for="review_author_name" class="control-label">Your name</label>
		                                                            <div class="controls">
		                                                                <input class="form-control" id="review_author_name" name="review_author_name" type="text" value=""/>
		                                                            </div>
		                                                        </div>
		                                                    </div>
		
		                                                    <div class="col-sm-6">
		                                                        <div class="form-group">
		                                                            <label for="review_author_email" class="control-label">Your email</label>
		                                                            <div class="controls">
		                                                                <input class="form-control" id="review_author_email" name="review_author_email" type="text" value="" />
		                                                            </div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		
		                                                <div class="row">
		                                                    <div class="col-sm-12">
		                                                        <div class="form-group">
		                                                            <label for="review_text" class="control-label">Review</label>
		                                                            <div class="controls">
		                                                                <textarea class="form-control" id="review_text" name="review_text"></textarea>
		                                                            </div>
		                                                        </div>
		
		                                                    </div>
		                                                </div>
		
		                                            </div>
		
		                                            <div class="modal-footer">
		                                                <button class="btn btn-primary btn-block-xs pull-right" type="submit">Submit product review</button>
		                                            </div>
		                                        </form>
                                        
                                        	</div>
                                        </div>
                                    </div>
                                    
                                    <!-- End id="review_form" -->

                                </div>
                                <!-- End id="ratings" -->
                                
                                
                            </div>                                            
                            <!-- End tab panels container -->
                            
                        </div>
                        
                    </div>                                    
                    <!-- End class="product-content" -->
                    
                </div>


            </div>
        </div>
    </section>
    <!-- End class="product-info" -->

    <!-- Product Reviews -->
    <section class="product-reviews">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <h5>Tell us why you <span class="script">love&#10084;</span> this product</h5>

                <!-- Facebook comments -->
                <div id="fb-root"></div>
                <script>                            
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "../connect.facebook.net/en_GB/all.js#xfbml=1&appId=460821237293986";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>

                <div class="fb-comments" data-width="730" data-href="http://la-boutique.twindots.com/product/chaser-overalls" data-num-posts="10"></div>
                <!-- End Facebook comments -->
                
            </div>
        </div>		
    </section>
    <!-- End class="product-reviews" -->
    
    <!-- Related products -->
    <section class="product-related">
        <div class="container">
            <div class="col-sm-12">

                <h5>Can't find what you're looking for? Why not try these&hellip;</h5>

                <ul class="product-list isotope">
                    <li class="standard" data-price="160">
                        <a href="product.html" title="1300 in Grey">

                            <div class="image">
                                <img class="primary" src="img/thumbnails/db_file_img_48_640xauto.jpg" alt="Lisette Dress" />
                                <img class="secondary" src="img/thumbnails/db_file_img_49_640xauto.jpg" alt="Lisette Dress" />

                            </div>

                            <div class="title">
                                <div class="prices"><span class="price">£160.00</span></div>
                                <h3>1300 in Grey</h3>

                            </div>

                        </a>
                    </li>
                    <li class="standard" data-price="75">
                        <a href="product.html" title="574 In Navy">

                            <div class="image">
                                <img class="primary" src="img/thumbnails/db_file_img_32_640xauto.jpg" alt="El Silencio" />
                                <img class="secondary" src="img/thumbnails/db_file_img_33_640xauto.jpg" alt="El Silencio" />

                            </div>

                            <div class="title">
                                <div class="prices"><span class="price">£75.00</span></div>
                                <h3>574 In Navy</h3>

                            </div>

                        </a>
                    </li>
                    <li class="standard" data-price="70">
                        <a href="product.html" title="574 In Red">

                            <div class="image">
                                <img class="primary" src="img/thumbnails/db_file_img_137_640xauto.jpg" alt="" />
                                <img class="secondary" src="img/thumbnails/db_file_img_138_640xauto.jpg" alt="" />

                            </div>

                            <div class="title">
                                <div class="prices"><span class="price">£70.00</span></div>
                                <h3>574 In Red</h3>

                            </div>

                        </a>
                    </li>
                </ul>
            </div>
        </div>	
    </section>                    
    <!-- End class="products-related" -->

    <!-- Added to cart modal window -->
    <div id="added" class="modal fade" tabindex="-1">
    	<div class="modal-dialog">
    	    <div class="modal-content">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		            <div class="hgroup title">
		                <h3>You're one step closer to owning this product!</h3>
		                <h5>"Chaser Overalls" has been added to your cart</h5>
		            </div>
		        </div>
		        <div class="modal-footer">	
	                <a href="cart.html" class="btn btn-primary btn-sm btn-block-xs">
	                    Go to cart &nbsp; <i class="fa fa-chevron-right"></i>
	                </a>
		        </div>
			</div>
		</div>
    </div>
    <!-- End id="added" -->

</section>
<!-- End class="product-info" -->
			
			</section>
			<!-- End class="main" -->


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
							<!-- Support -->
							<div class="support">
									<h6>Support</h6>

									<ul class="links">
											<li>
													<a href="AboutUs" title="About us" class="title">About us</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">FAQ</a>
											</li>
											<li>
													<a href="about-us.html" title="About us" class="title">Contact Us</a>
											</li>
									</ul>
							</div>
							<!-- End class="support" -->

                <hr />

                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>

                    <ul class="links">
                        <li>
                            <a href="login-register.html" title="Login / Register">Login / Register</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="account"-->

            </div>

            <div class="col-sm-2">

							<!-- Categories -->
							<div class="categories">
									<h6>Shop</h6>

									<ul class="links">
											<li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
                                            </li>
                                            <li>
													<a href="DeLehengaCholi" title="Women">Lehenga Choli</a>
											</li>
											<li>
													<a href="DesignerKurti" title="Men">Kurti</a>
                                            </li>
                                            <li>
													<a href="PalazzoKurti" title="Men">Palazzo Kurti</a>
											</li>
											<li>
													<a href="ChexChaniyaCholi" title="Girls">Chex Print Chaniya Choli</a>
											</li>
											<li>
													<a href="DesignerBlouse" title="Boys">Designer Blouse</a>
											</li>
											<li>
													<a href="KidsWear" title="Boys">Kids Wear</a>
											</li>
											<li>
													<a href="Saree" title="Boys">Saree</a>
											</li>
											<li>
													<a href="Gown" title="Boys">Gown</a>
											</li>
									</ul>
							</div>
							<!-- End class="categories" -->


                <hr />
            </div>
            <div class="col-sm-4">

                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>

                    <form onsubmit="return false;" enctype="multipart/form-data" action="#" method="post">

                        <div class="input-group">
                            <input type="text" name="email" class="form-control" />
                            <span class="input-group-addon btn" type="submit" id="newsletter_submit" data-toggle="modal" data-target="#newsletter_subscribe">Go!</span>
                        </div>

                    </form>

                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->


                <hr />

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>

                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>

                    </ul>
                </div>
                <!-- End class="social" -->

            </div>
        </div>
    </div>
</div>
<!-- End id="footer" -->

<!-- Credits bar -->
<div class="credits">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>&copy; 2015 <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="La Boutique">La Boutique</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Terms &amp; Conditions">Terms &amp; Conditions</a> &middot; <a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Privacy policy">Privacy policy</a> &middot; All Rights Reserved. </p>
            </div>
            <div class="col-sm-4 text-right hidden-xs">
                <p><a href="http://themeforest.net/item/la-boutique-responsive-ecommerce-template/5573130?ref=Tfingi" title="Responsive eCommerce template">Responsive eCommerce template by Tfingi</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End class="credits" -->

			<!-- Credits bar -->
			<!-- Options panel -->
            <div class="options-panel-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="option_color_scheme" class="control-label">Color scheme</label>
                        <div class="controls">
                    <select name="option_color_scheme" id="option_color_scheme" class="col-md-12">
                        <option value="/stylesheets/css/color-schemes/turquoise.css">Turquoise</option>
                        <option value="/stylesheets/css/color-schemes/greensea.css">Green sea</option>
                        <option value="/stylesheets/css/color-schemes/emerland.css">Emerland</option>
                        <option value="/stylesheets/css/color-schemes/nephritis.css">Nephritis</option>
                        <option value="/stylesheets/css/color-schemes/peterriver.css">Peter river</option>
                        <option value="/stylesheets/css/color-schemes/belizehole.css">Belizehole</option>
                        <option value="/stylesheets/css/color-schemes/amethyst.css">Amethyst</option>
                        <option value="/stylesheets/css/color-schemes/wisteria.css">Wisteria</option>
                        <option value="/stylesheets/css/color-schemes/wetasphalt.css">Wet asphalt</option>
                        <option value="/stylesheets/css/color-schemes/midnightblue.css">Midnight blue</option>
                        <option value="/stylesheets/css/color-schemes/sunflower.css">Sunflower</option>
                        <option value="/stylesheets/css/color-schemes/orange.css">Orange</option>
                        <option value="/stylesheets/css/color-schemes/carrot.css">Carrot</option>
                        <option value="/stylesheets/css/color-schemes/pumpkin.css">Pumpkin</option>
                        <option value="/stylesheets/css/color-schemes/alizarin.css">Alizarin</option>
                        <option value="/stylesheets/css/color-schemes/pomegranate.css">Pomegranate</option>
                    </select>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="options-panel-toggle">
        <a href="#" title=""><i class="fa fa-cog"></i></a>
    </div>
</div>
<!-- End class="options-panel" -->
			

		</div>
   
		<!-- BEGIN JAVASCRIPTS -->

<script src="/javascripts/js/jquery-1.11.3.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<script src="/javascripts/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/js/jquery.flexslider.js"></script>
<script src="/javascripts/js/jquery-ui-1.10.2.custom.js"></script>
<script src="/javascripts/js/jquery.easing.min.js"></script>
<script src="/javascripts/js/jquery.elevatezoom.js"></script>
<script src="/javascripts/js/jquery.sharrre-1.3.5.js"></script>
<script src="/javascripts/js/jquery.cookie.js"></script>
<script src="/javascripts/js/la_boutique.js"></script>
<script src="/javascripts/js/tfingi-megamenu/tfingi-megamenu-frontend.js"></script>

<!-- END JAVASCRIPTS -->

	</body>

<!-- Mirrored from alpha.laboutiquetheme.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Dec 2018 14:21:31 GMT -->
</html>
